<!DOCTYPE html>
<html>
  <head>
    <title>Property Location</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <%= favicon_link_tag asset_path('logo.jpg') %>
  </head>

  <body id="<%= controller.controller_name %>" class="<%=controller.action_name%> <%= "show-sidebar" if @show_sidebar.present? %> ">
    
    <% if @show_sidebar.nil? %> 
   <header>
      <%= render "layouts/nav/public"%>
        <%= yield %>  
    </header>
   <% else %>
     <%= render "layouts/nav/dashboard"%>

      <div class="container-fluid">
        <div class="row">

          <%= render "layouts/nav/sidebar" %> 
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mt-4">       
            <%= yield %>
          </main> 
        </div>
      </div>      

    <% end %>
    <div id="notification"><%= flash_notifications %></div>
  </body>
</html>